* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}
audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
  font: 14px/18px Arial, sans-serif;
}

body {
  color: #888;
  min-width: 320px;
  -ms-overflow-style: scrollbar;
  background: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  clear: both;
}

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}

a {
  color: #333;
  text-decoration: none;
  background: 0;
}

q,
blockquote {
  hyphens: none;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

fieldset {
  border: 0;
}

legend {
  white-space: normal;
}

label {
  cursor: pointer;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  box-sizing: content-box;
}

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

b,
strong {
  font-weight: bold;
}

address,
em,
i,
cite,
dfn {
  font-style: italic;
}

ins,
mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
tt,
var,
samp,
pre {
  font-family: monospace, serif;
  font-size: 20px;
  line-height: 24px;
  hyphens: none;
}

pre {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  max-width: 100%;
  overflow: auto;
  padding: 12px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

figure {
  margin: 0;
}
:target {
  outline: 0;
}

/* Forms */
textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

fieldset {
  border: 0;
  padding: 0;
}
a img {
  border: 0;
}

label {
  cursor: pointer;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  outline: 0;
  margin: 0;
  vertical-align: baseline;
  font: 14px/18px Arial, sans-serif;
  color: #333;
}

input[type="text"]:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  -webkit-border-radius: 0;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="radio"] {
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}
table {
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  vertical-align: top;
  text-align: left;
}

input[type="number"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="text"],
input[type="image"],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button,
input[type="submit"],
a {
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

/* Placeholder text color -- selectors need to be separate to work. */
::placeholder {
  color: #ccc;
  opacity: 1;
}

/* layout */
header {
  background: map-get($colors, theme-primary);
  padding: 20px 0;
}

.page {
  padding-bottom: 20px;

  &__title,
  &__content {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__title {
    color: #fff;
    padding: 20px;
  }

  &__content {
    position: relative;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: 0;

    h2 {
      position: absolute;
      top: 26px;
      right: 20px;
      font-size: 16px;
      line-height: 18px;
      font-weight: bold;
      color: map-get($colors, headings);
    }
  }
}

.members-list {
  list-style: none;

  &__item {
    border-top: 1px solid #ccc;
    position: relative;

    &:first-child {
      border-top: 0;
    }

    &--active {
      .member__address {
        display: block;
      }
    }
  }
}

.member {
  a {
    display: block;
    padding: 20px 0;
    outline: 0;
  }

  &__name {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: map-get($colors, headings);
    margin-left: 70px;
  }

  &__email {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 0 70px;
  }

  &__photo {
    position: absolute;
    top: 20px;
    left: 20px;
    background: silver;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 7px;

    img {
      display: block;
      border-radius: 7px;
    }
  }

  &__more {
    font-size: 16px;
    line-height: 18px;
    position: absolute;
    top: 30px;
    right: 20px;
  }

  &__address {
    background: #eee;
    padding: 7px 20px;
    text-align: right;
    font-size: 13px;
    line-height: 15px;
    display: none;
  }
}

.app-loading {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.search {
  padding: 20px;
  background: #eee;
  border-bottom: 1px solid #ccc;

  &__field {
    background: #fff;
    position: relative;
    width: 200px;

    svg {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }
  }

  &__keyword {
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    padding: 5px 5px 5px 35px;
    color: #888;
    display: block;
    width: calc(100% - 40px);
  }
}

.no-members-found,
.page-not-found {
  padding: 100px;
  text-align: center;
  color: #f00;
}
